.skills-main-div {
  display: flex;
  overflow: hidden;
  gap: 7%;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.skills-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
}

.skills-text {
  font-size: 20px;
}

.skills-text-div {
  font-family: "Google Sans Regular";
  width: 60%;
}

.skills-image-div {
  height: 400px;
  min-width: fit-content;
}

.skills-image-div .container {
  min-height: 220px !important;
  max-height: 340px !important;
  min-width: 220px !important;
  max-width: 340px !important;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-header {
    font-size: 50px;
  }
  .skills-text-div {
    margin: 0;
    width: 70%;
  }
  .skills-image-div {
    min-width: 22%;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .skills-text-div {
    margin: 20px;
    width: 80%;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .skills-image-div {
    max-width: 70%;
    max-height: 70%;
    order: 2;
  }

  .skills-image-div svg {
    height: 250px;
    width: 90%;
    margin: 1rem auto;
  }
}
