.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-items: space-between;
}

.competitive-sites-inline {
  color: #868e96;
  padding: 10px 15px;
}

.competitive-sites-inline:hover {
  color: #645beb;
}
