.software-dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.software-skill-inline {
  padding: 10px 20px;
  font-family: "Google Sans Regular";
}

/* Media Query */
@media (max-width: 768px) {
  .software-dev-icons {
    margin-top: 60px;
    justify-content: center;
  }
}
