.footer-text {
  text-align: center;
  /* color: #868e96; */
  font-weight: 600;
  font-family: "Google Sans Regular";
}

.footer-container {
  margin-top: 7rem;
}

@media (max-width: 768px) {
  .footer-container {
    margin-top: 2rem;
  }
}
